
/* advertising start */
.advertising {
  width: 100%;
  height: 148px;
}
/* advertising end */

/* bgcolor start */
.bgcolor {
  width: 100%;
  height: 100%;
  position: relative;
  background: #f8f8f8;
}
/* bgcolor end */

/* item-siderbar start */
.item-siderbar {
    padding: 0px 11px;
    font-size: 28px;
    line-height: 50px;
    text-align: center;
    background: #4D4D4D;
    color: #fff;
    position: fixed;
    right: 30px;
    bottom: 50px;
    cursor: pointer;
    z-index: 100;
}
/* item-siderbar end */


/* header start */
.header {
    background: #222;
    height: 60px;
}

.header .header-main {
    width: 1200px;
    margin: 0px auto;
}

.header .header-main .header-logo {
    width: 65px;
    height: 47px;
    background: url("../../src/assets/images/logo.png") no-repeat;
    margin: 5px 0px;
}

.header .header-main .quguo-user {
    line-height: 45px;
    margin-top: 7px;
    color: #9fa0a0;
  width: 260px;
  position: relative;
}

.header .header-main .quguo-user .icon-yonghu {
    width: 45px;
    height: 45px;
    background: #9fa0a0;
    text-align: center;
    font-size: 25px;
    color: #fff;
    border-radius: 100%;
    margin-right: 10px;
  position: relative;
}

.quguo-user .icon-yonghu img {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
}

.header .header-main .quguo-user .cart-round {
    position: relative;
  width: 120px;
}

.quguo-user .cart-round .item {
  position: absolute;
  top: 0px;
  left: 0px;
}

.header .header-main .quguo-user .icon-shoppingcar-ac {
    font-size: 25px;
}

.header .header-main .quguo-user .icon-cartname {
  margin-left: 10px;
  border: none;
  background: #222;
  color: #9fa0a0;
  padding: 15px 0px;
}

.header .header-main .header-userInfo {
  line-height: 60px;
}

.cart-round .el-badge__content.is-fixed {
  top: 10px;
  right: 70px;
}

.header .header-main .header-userInfo .userInfo {
    color: #9fa0a0;
    margin: 0px 5px;
}
/* header end */

/* banner start */
.banner {
    width: 100%;
    height: 500px;
    background: #fff;
    position: relative;
}

.banner-title {
    writing-mode:tb-rl;
    text-align: center;
    font-size: 45px;
    position: absolute;
    top: 110px;
    left: 0px;
    right: 0px;
    width: 35px;
    margin: 0px auto;
}

.banner-text {
    width: 474px;
    height: 96px;
    text-align: center;
    margin: 0px auto;
    color: #9fa0a0;
    line-height: 35px;
    padding: 270px 0px 0px;
    font-family: 'Adobe 宋体 Std L';
}

/* banner end */

/* nav start */
.nav {
    width: 1200px;
    height: 50px;
    margin: 0px auto;
}

.nav ul li {
    float: left;
}

.nav ul li .nav-href {
    line-height: 25px;
    border: 1px solid #B3B3B3;
    border-top: none;
    border-bottom: none;
    margin: 12px 65px 12px 0px;
    padding: 0px 10px;
    position: relative;
}

.nav .Experience {
    width: 120px;
    height: 39px;
    margin: 5px 0px;
    background: url("../images/01.png") no-repeat;
}

.nav ul li .nav-href .dropDomn {
    position: absolute;
    top: 38px;
    left: -60px;
    border-radius: 15px;
    width: 340px;
    border: 1px solid #fff;
    box-shadow: 1px 1px 10px #eee;
    background: #fff;
    display: none;
}

.nav ul li .nav-href .dropDomn #triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 18px solid #efefef;
    position: absolute;
    top: -20px;
    left: 67px;
}

.nav ul li .nav-href .dropDomn .drop-ul {
    width: 40%;
    margin-top: 5px;
}

.nav ul li .nav-href .dropDomn .drop-ul li {
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.nav ul li .nav-href .dropDomn .dropDome-Image {
    width: 55%;
    height: 165px;
    margin: 7px;
    border-radius: 10px;
    background: #333;
}

/* nav end */

/* footer start */
.footer {
    width: 100%;
    background: #fff;
}

.footer .footer-quality {
    width: 1200px;
    height: 106px;
    margin: 0px auto;
}

.footer .footer-quality ul li {
    height: 60px;
    font-size: 16px;
    color: #595757;
    text-indent: 5em;
    margin: 26px 116px 0 0;
    line-height: 60px;
}

.footer .footer-quality ul .fm {
    background: url('../images/10.png') no-repeat;
}

.footer .footer-quality ul .zs {
    background: url('../images/11.png') no-repeat;
}

.footer .footer-quality ul .yg {
    background: url('../images/12.png') no-repeat;
}

.footer .footer-quality ul .bz {
    background: url('../images/13.png') no-repeat;
    margin: 26px 0 0 0;
}

.footer .footer-message {
    height: 286px;
    background: #272727;
}

.footer .footer-message .footer-list {
    width: 1200px;
    margin: 0px auto;
    height: 227px;
}

.footer .footer-message .footer-list ul {
    padding: 80px 0 0 0;
    margin: 0px 60px 0 0;
}

.footer .footer-message .footer-list .webchat {
    margin: 0px;
    padding: 63px 0px 0px 100px;
    width: 104px;
}

.footer .footer-message .footer-list ul li {
    width: 250px;
    color: #595757;
}

.footer .footer-message .footer-list ul .list-desc {
    border-right: 1px dashed #595757;padding-right: 20px;
}

.footer .footer-message .footer-list ul .qrcode {
    width: 104px;
    text-align: center;
    line-height: 30px;
}

.footer .footer-message .footer-copy {
    border-top: 1px solid #4D4D4D;
    padding: 17px 0px;
    text-align: center;
    color: #595757;
}

/* footer end */

/* admin start */
.admin {
    margin: 60px auto 130px;
    height: 100%;
    overflow: hidden;
}

.admin .admin-left {
    width: 220px;
    height: 100%;
}

.admin .admin-left .admin-pic {
    width:93px;
    height: 93px;
    margin: 0px auto;
    border-radius: 100%;
}

.admin .admin-left .admin-nav {
    width: 100%;
    height: auto;
    border: 1px solid #c9caca;
    background: #f7f8f8;
    margin-top: 90px;
    padding-bottom: 20px;
    color: #898989;
}

.admin .admin-left .admin-nav .line {
    width: 80%;
    height: 1px;
    background: #c9caca;
    margin: 0px auto;
}

.admin .admin-left .admin-dl {
    margin: 30px 22px 20px 20px;
}

.admin .admin-left .admin-dl .admin-dt {
    margin-top: 15px;
}

.admin .admin-left .admin-dl .tIndex {
    text-indent: 3.5em;
}

.admin .admin-left .admin-dl .admin-dt a {
    color: #898989;
}

.admin .admin-left .admin-dl .admin-dt .iconfont {
    font-size: 26px;
    margin-right: 20px;
}

.admin .admin-left .admin-pic .admin-uname {
    text-align: center;
    margin-top: 10px;
}

.admin .admin-left .admin-pic .admin-vip {
    width: 100%;
    height: 18px;
    margin-top: 10px;
    background: url('../images/17.png') no-repeat -3px -35px;
}

.admin .admin-right {
    width: 960px;
}

.admin .admin-right .orderHistory {
    text-align: center;
    margin: 30px 0 0;
}

.admin .admin-right .orderHistory .line {
    width: 57px;
    height: 3px;
    background: #b11e25;
    margin: 10px auto 0px;
}

.admin .admin-right .orderHistory .order-h5 {
    color: #595757;
    margin-top: 5px;
    font-weight: 500;
}

.admin .admin-right .order-title {
    width: 100%;
    height: 60px;
    margin: 40px 0px 0px;
    background: #f7f8f8;
}

.admin .admin-right .order-title ul li {
    text-align: center;
    width: 130px;
    border-right: 1px dashed #ccc;
    line-height: 25px;
    margin: 17px 0px;
}

.admin .admin-right .order-title ul li:first-child {
    width: 315px;
}

.admin .admin-right .order-title ul li:last-child {
    border: none;
}

    /* order start */
.admin .admin-right .order-table {
    margin-top: 20px;
    color: #898989;
}

.admin .admin-right .order-table:last-child {
    margin-bottom: 20px;
}

.admin .admin-right .order-table table {
    border: 1px solid #c9caca;
    width: 100%;
}

.admin .admin-right .order-table table .thead-item {
    border-bottom: 1px solid #c9caca;
}

.admin .admin-right .order-table table .thead-item .tr-item {
    height: 37px;
    color: #898989;
}

.order-table table .thead-item .tr-item td{
    border-right: 1px solid #c9caca;
}

.order-table table .thead-item .tr-item .tcenter {
    text-align: center;
}

.order-table table .tbody-item .tr-item {
    height: 142px;
    text-align: center;
}

.order-table table .tbody-item .ordertime {
    height: 37px;
    line-height: 37px;
    text-indent: 1.5em;
    border-bottom: 1px solid #c9caca;
}

.tr-item .orderNumber {
    text-indent: 20px;
    text-align: left;
}

.order-table table .tbody-item .tr-item td {
    border-right: 1px solid #c9caca;
}

.order-table table .tbody-item .tr-item .itme-pic {

}

.order-table table .tbody-item .tr-item .itme-pic .J_ItemImg {
    margin: 0 15px;
}

.order-table table .tbody-item .tr-item .itme-number {
    width: 98px;
}

.order-table table .tbody-item .tr-item .itme-pic .item-title {
    width: 150px;
    display: block;
    text-align: left;
    color: #898989;
}

.tbody-item .tr-item .privateBtn, .protected-Btn {
    padding: 8px 22px;
}

.tbody-item .tr-item .nowpay {
    background: #b11e25;
    border: 1px solid #b11e25;
    border-radius: 5px;
    color: #fff;
}

.tbody-item .tr-item .nowpay:hover {
    background: #c40000;
    border: 1px solid #c40000;
}

.tbody-item .tr-item .protected-Btn {
    border: 1px solid #c9caca;
    border-radius: 5px;
}

.tbody-item .tr-item .cancel {
    display: none;
}

.tbody-item .tr-item .select {
    display: none;
}

.tbody-item .tr-item .delete {
    display: none;
}

    /* order start */

/* admin end */
