/* content start */
.content {
    margin: 50px auto 0px;
}

.content .con-pro {
    width: 100%;
    /*margin-bottom: 20px;*/
    height: 400px;
}

.content .pro-moves {
    position: relative;
    height: 350px;padding-top: 30px;
}

.content .pro-moves .move {
    position: absolute;
    bottom: 78px;
    left: -12px;
    right: 0px;
    width: 183px;
    height: 59px;
    margin: 0px auto;
}

.content .wrap {
    width: 1200px;
    height: 100%;
    margin: 100px auto 0px;
}

.content .wrap .wrap-card .wrap-card-icon {
    width: 90px;
    height: 90px;
    background: url("../images/03.png") no-repeat;
    margin: 35px auto 0px;
}

.content .wrap .wrap-card .box-icon {
    background-position: 0px 0px;
    position: relative;
    left: 4px;
}

.content .wrap .wrap-card .thumbsup-icon {
    background-position: -90px 0px;
}

.content .wrap .wrap-card .picture-icon {
    background-position: -193px 0px;
}

.content .wrap .wrap-card .wrap-card-desc {
    text-align: center;
    margin: 20px 5px;
    color: #898989;
    font-size: 12px;
}

.content .wrap .wrap-list {
    padding-top: 130px;
}

.content .wrap .wrap-li p, .wrap-more {
    line-height: 45px;
    color: #fff;
}

.content .wrap .wrap-li .wrap-more {
    font-size: 16px;
}

.content .wrap .wrap-li p {
    font-size: 36px;
    font-family: "Arial Black";
    padding-top: 125px;
}

.tuijian-header {
    text-align: center;
}

.tuijian-header .tuijian-h1 {
    font-size: 31px;
}

.tuijian-header .tuijian-span{
    color: #9fa0a0;
}

.tuijian-header .line {
    width: 65px;
    height: 1px;
    background: #333;
    margin: 20px auto 10px;
}

.wrap-tujian .card-tuijian {
    margin: 26px 26px 0px 0px;
    width: 585px;
    height: 297px;
    border: 1px solid #9d9e9e;
}

.wrap-tujian .card-tuijian .card-tuijian-pic {
    width: 363px;
    height: 297px;
}

.card-tuijian-desc {
    width: 221px;
    height: 100%;
    text-align: center;
}


.content .experience {
  height: 100%;
  margin: 0px auto 100px;
  overflow: hidden;
}

.content .experience .Experience-title {
    width: 598px;
    height: 274px;
    margin: 0px auto;
}

.content .experience .experience-tab {
    width: 324px;
    height: 46px;
    margin: 0px auto 40px;
}

/*.content .experience .experience-tab .tab-chonse:first-child {*/
    /*margin: 0 23px 0 0;*/
/*}*/

.content .experience .experience-tab .tab-chonse {
    padding: 13px 38px;
    color: #000;
    font-weight: bold;
    background: #fff;
    border: 1px solid #fff;
}

.content .experience .experience-tab .tab-chonse:hover {
    background: #b11e25;
    color: #fff;
    border: 1px solid #b11e25;
}

.content .experience .experience-list {
  width: 279px;
  /*height: 249px;*/
  margin: 0px 24px 28px 0;
  transition: 0.5s;
}

.content .experience .experience-list:nth-of-type(4n) {
  margin: 0px 0 0 0;
}

.content .experience .experience-list .experience-pic {
    width: 100%;
    height: 179px;
}

.content .experience .experience-list:hover {
    box-shadow: 2px 2px 20px #ccc;
    cursor: pointer;
  transition: 0.5s;
}

.content .experience .experience-list .experience-desc {
    text-align: center;
    color: #231815;
    line-height: 70px;
}


/* content end */


/* login start */

.administrator {
    background: #f8f8f8;
    width: 100%;
    height: 100%;
}

.login {
  height: 439px;
  margin: 0px auto 300px;
  position: relative;
  top: 150px;
}

.login .login-form form {
  background: #fff;
}

.w609 {
    width: 609px;
    height: 532px;
}

.w609 .form-title {
    height: 40px;
    line-height: 40px;
    margin: 30px;
}

.w609 .form-title .line {
    padding: 0px 2px;
    background: #b11e25;
    margin-right: 10px;
}

.tab .form-title .line {
    padding: 0px 2px;
    background: #b11e25;
    margin-right: 10px;
}

.login .login-form .form-input #chonse {
    display: none;
}

.login .login-form .form-input #chonse:checked + .chonseLogin {
    background: #3b5998;
    border: 1px solid #3b5998;
}

.login .login-form .form-input .chonseLogin {
    width: 15px;
    height: 15px;
    background: #f8f8f8;
    border: 1px solid #efefef;
    display: block;
    cursor: pointer;
}

.login .login-form .form-input .chonseText {
    line-height: 17px;
    margin-left: 15px;
    color: #727171;
}

.login .login-form .form-input .form-h2 {
  line-height: 40px;
  color: #999;
}

.tab .form-input .el-button {
  width: 100%;
  height: 45px;
  border: none;
  margin: 15px auto;
  color: #fff;
  background: #b11e25;
  display: block;
}

.login .login-form .form-input {
  clear: both;
  line-height: 40px;
  margin: 0px 15px;
}

.login .login-form .form-input {
  height: 45px;
}

.login .login-form .form-input .lineHeight45 {
    line-height: 45px;
    text-align: right;
    color: #3e3a39;
}

.login .login-form .form-input input[type='button'] {
    width: 100%;
    height: 49px;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
    background: #b11e25;
    cursor: pointer;
    letter-spacing: 10px;
    border: 1px solid #b11e25;
}

.login .login-form .form-input .getCode {
    width: 85px;
    height: 35px;
    line-height: 1px;
    background: #fff;
    border: 1px solid #b11e25;
    border-radius: 5px;
    text-align: center;
    color: #b11e25;
    cursor: pointer;
}

.login .login-form .form-input .getCode:hover {
    background: #b11e25;
    color: #fff;
}

.login .login-form .form-input .input {
    width: 79%;
}

.login .login-form .form-h4 {
    font-size: 16px;
    color: #c9caca;
}

.login .login-form .clickReg {
    color: #c40000;
    margin-left: 10px;
}

.form-input .iconfont {
  font-size: 16px;
}

/* login end */


/* admin-right start */

.admin-right .trade_status .vip-content {
    width: 916px;
    margin: 0px auto;
}

.admin-right .trade_status .vip-content .vip-title {
    margin-top: 15px;
    padding: 15px 0px;
    border-bottom: 1px solid #ccc;
}

.admin-right .trade_status .vip-content .vip-item {
    margin: 22px 22px 0px;
}

.vip-content .vip-item .vip-table {
    width: 630px;
    text-align: center;
    margin: 37px auto;
}

.vip-content .vip-item .vip-table .thead {
    width: 100%;
    background: #b11e25;
}

.vip-content .vip-item .vip-table .thead tr {
    height: 40px;
    color: #fff;
    border: 1px solid #ccc;
}

.vip-content .vip-item .vip-table .tbody tr {
    height: 50px;
    background: rgb(254,247,244);
}

.vip-content .vip-item .vip-table .tbody tr td .icon {
    width: 29px;
    height: 20px;
    position: absolute;
    background: url('../../src/assets/images/25.png') no-repeat;
    left: 6px;
    top: 13px;
}

.vip-content .vip-item .vip-table .tbody tr td .w1 {
    background-position: 0 0;
}

.vip-content .vip-item .vip-table .tbody tr td .w2 {
    background-position: 0 -26px;
}

.vip-content .vip-item .vip-table .tbody tr td .w3 {
    background-position: 0 -54px;
}

.vip-content .vip-item .vip-table .tbody tr td .w4 {
    background-position: 0 -81px;
}

.vip-content .vip-item .vip-table .tbody tr td .w5 {
    background-position: 0 -105px;
}

.vip-content .vip-item .vip-table .tbody tr td {
    border: 1px solid #ccc;
    position: relative;
}

.vip-content .vip-item .vip-icon {
    width: 465px;
    height: 280px;
    margin: 17px auto 0;
}

.admin-right .trade-form {
    width: 401px;
    height: 100%;
    margin: 95px auto 0;
}

.admin-right .trade-form input[type='text'] {
    width: 100%;
    height: 46px;
    background: #fafbfc;
    border: 1px solid #dcdddd;
    margin-top: 10px;
    text-indent: 1em;
    color: #b5b5b6;
}

.admin-right .trade-form input[type='button'] {
    width: 182px;
    height: 39px;
    border: 1px solid #b11e25;
    background: #b11e25;
    border-radius: 5px;
    color: #fff;
    margin: 50px auto 0px;
    cursor: pointer;
}

.admin-right .infoBlock {
    width: 280px;
    height: 100%;
    border: 3px solid #c9caca;
    margin: 27px 0 0px 25px;
}

.admin-right .infoactive {
    border: 3px solid #b11e25;

}

.admin-right .infoBlock:first-child {
    /*margin: 35px 0 35px 30px;*/
}

.admin-right .infoBlock:last-child {
    margin: 35px 0 35px 24px;
}

.admin-right .infoBlock .infor-title {
    width: 280px;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #c9caca;
    text-indent: 1.5em;
    cursor: pointer;
}

.admin-right .infoBlock .infor-title .icon-moren {
    font-size: 26px;
    color: #727171;
}

.admin-right .infoBlock .infor-title h3 {
    color: #231815;
}

.admin-right .infoBlock .table-list {
    margin: 20px 20px;
    color: #898989;
    line-height: 30px;
}

.admin-right .infoBlock-btn {
    width: 300px;
    margin: 0px auto 60px;
    padding-top: 100px;
}

.admin-right .infoBlock-btn .public-btn {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid #898989;
    text-align: center;
    line-height: 35px;
    color: #898989;
}

.admin-right .infoBlock-btn .public-btn:hover {
    background: #b11e25;
    border: 1px solid #b11e25;
    color: #fff;
}

.admin-right .table-td {
    border: 1px solid #c9caca;
    width: 666px;
    height: 100%;
    margin: 34px 0 0;
    padding: 9px 0px 6px;
}

.admin-right .trade-detail {
    margin: 12px 64px 51px 121px;
    color: #898989;
}

.admin-right .trade-detail dl dd {
    line-height: 30px;
}

.admin-right .trade-detail dl .trade-title {
    margin-bottom: 10px;
}


.admin-right .trade-detail dl .imfor-title .ui-btn {
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 0 0 0 10px;
}

.admin-right .trade-detail dl .imfor-title .confirm {
    background: #b11e25;
    border: 1px solid #b11e25;
    color: #fff;
}

.admin-right .trade-detail dl .imfor-title .select {
    color: #898989;
    border: 1px solid #898989;
}

.admin-right .BarHolder {
    width: 100%;
    height: 134px;
    margin-top: 20px;
    background: #f7f8f8;
}

.admin-right .BarHolder .bar-picre {
    margin: 42px 30px;
    color: #898989;
}


.admin-right .infoBlock .address-list {
    margin: 0px;
    padding: 19px 20px;
    background: #f7f8f8;
}

.admin-right .item-add .form-title {
    color: #595757;
}

.admin-right .item-add .default-address {
    color: #898989;
    margin-top: 6px;
    cursor: pointer;
}

.admin-right .item-add #cAddress:checked + .icon-moren {
    color: #b11e25;
}

.admin-right .item-add .save-btn:hover {
    background: #b11e25;
    border: 1px solid #b11e25;
    color: #fff;
}

.admin-right .item-add .public-select {
    width: 177px;
    /*height: 48px;*/
    color: #b5b5b6;
    /*text-indent: 1em;*/
    text-align: center;
    border-radius: 5px;
    margin-right: 46px;
    background: #fafbfc;
}

.admin-right .item-add .public-select:last-child {
  margin: 0px;
}

/* admin-right end */

/* footer start */
.footer .footer-quality ul .fm {
  background: url('../../static/images/10.png') no-repeat;
}

.footer .footer-quality ul .zs {
  background: url('../../static/images/11.png') no-repeat;
}

.footer .footer-quality ul .yg {
  background: url('../../static/images/12.png') no-repeat;
}

.footer .footer-quality ul .bz {
  background: url('../../static/images/13.png') no-repeat;
  margin: 26px 0 0 0;
}
/* footer end */
